h1,h2,p{

position: relative;
right:3px;
left:250px;
bottom:200px;
}
body{
  background-image: url("background-image.png");
}
table{
width:100%;
 bordere: double;
position:center;
}
td,th {
  border: 3px double Gray ;
  text-align: center;
  padding: 8px;
}